body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0deg 0% 7.06%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#bar{
  margin-top: 10px;
}

#h1{
  text-align: center;
  font-size: 40px;
  color: 'green';
}

#buttondiv{
  display: flex;
  justify-content: right;
  margin-bottom: 0.5%;
  margin-right: 0.5%;
}

h1 {
	color: #B9B9B9;
}